DEPHALANX_BRAIN_HOST=openclaw
DEPHALANX_OPENCLAW_BASE_URL=http://127.0.0.1:3001
DEPHALANX_PHALANX_SKILL_BASE_URL=http://127.0.0.1:8787
DEPHALANX_OMRATE_MODE=x402_optional
DEPHALANX_MANDATE_STORE_PATH=./mandates
DEPHALANX_TELEGRAM_BOT_TOKEN=
